body{
  margin: 0;
  color: aliceblue;
  background-color: #B9E0FF;
  color: #222831;
;
}
.navbar{
  width: 100%;
  display: flex;
  justify-content: space-around; 
  align-items: center;
  background-color: #8D9EFF;

}

.footer{
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: space-around; 
  align-items: center;
  background-color: #8D9EFF;
  margin-top: 78vh;
  bottom: 0;
}
.fetchusers button{
  min-width: 150px;
  background-color: #6C4AB6;
  border-radius: 5px;
  border: 0;
  padding: 10px 5px 10px 5px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
}
.content{
  display: block;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.grid {
  display: inline-block;
  margin: 2rem;
  width: 20%  ;
  height: 30%;
  padding: 2rem;
  align-items: center;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgb(77, 74, 74, 0.1);
  background-color: #FF8FB1
  }
.grid:hover {
  transform: scale(1.1);
  }


.loader {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #8D72E1;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}